.input {
    margin: 30px;
    background: none;
    background-color: #252532;
    border: none;
    outline: none;
    max-width: 190px;
    padding: 10px 20px;
    font-family :'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: medium;
    border-radius: 9999px;
    color: #fff;
    -webkit-box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
    box-shadow: inset 0px 5px 10px 0px #16151c, 0px 3px 6px -2px #403f4e;
  }

  .input:hover {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
    -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  }

  .input:focus {
    box-shadow: 1px 1px 200px #252525;
    color: #fff;
    border: none;
    -webkit-box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
    box-shadow: inset 0px 5px 4px 0px #424151, 0px 4px 15px 0px #0f0e17;
  }